---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Apropos | Solim LAOKPEZI" description="Apropos de Solim LAOKPEZI">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Apropos de Solim"
				tagline="Permettez-moi de vous présenter mon profil"
			>
				<img
					width="850"
					height="100"
					src="/assets/work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>

                        En tant qu'étudiant en data science, j'ai un parcours académique axé sur les sciences et la technologie.
                         J'ai commencé par un baccalauréat scientifique, qui m'a fourni une base solide en mathématiques et en physique.
                         Cela m'a permis de développer une compréhension approfondie des concepts clés de ces disciplines, tels que les statistiques,
                         l'algèbre, la géométrie, le calcul, les lois de la physique et la modélisation mathématique.
					</p>
					<br/>
					<p>
						Par la suite, j'ai obtenu une licence professionnelle en génie logiciel, qui m'a permis de développer
						des compétences en programmation, en conception de logiciels et en gestion de projets informatiques.
						J'ai acquis une expérience pratique en utilisant des langages de programmation tels que Java,
						C++ et Python, ainsi que des outils de développement tels que Git, Jira et Jenkins. J'ai également appris
						à concevoir des architectures logicielles efficaces et à gérer des projets de développement de logiciels de bout en bout.
					</p>
					<br/>
					<p>
						Ces compétences en mathématiques, en programmation et en gestion de projets sont des atouts précieux
						pour ma formation en data science. En effet, elles me permettent de comprendre les concepts mathématiques
						complexes qui sous-tendent les algorithmes de data science, de développer des modèles de machine learning
						efficaces et d'utiliser des outils de développement pour implémenter et déployer ces modèles dans un environnement de production.
					</p>
					<br/>
					<p>
					    En somme, mon parcours académique en sciences et en technologie, combiné à ma formation en génie logiciel,
					    me donne une base solide pour réussir dans le domaine passionnant et en constante évolution de la data science.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					    <ul>
						 <li>
							<h5>Depuis septembre 2023 </h5>
					            <h5>ILIS Faculte Ingenierie et management dela Sante</h5>
                                			Master 1 Data Science En Santé
                          			  </li>


					        <li>
					            <h5>Licence informatique en science des données</h5>
                                <h5>Depuis septembre 2022 Université lumiere Lyon2 Lyon, France</h5>
                                <p><h5>Competence:</h5>Algorithmie, programmation orientée objet, analyse exploratoire
                                des données, langage R et modélisation linéaire, UML,PHP.</p>
					        </li>
					        <br/>
					        <li>
					            <h5>Licence professionnelle en génie logiciel</h5>
                                <h5>De novembre 2018 à juillet 2022 Université de Lomé TOGO </h5>
                            </li>

					    </ul>

				</div>
			</section>
			<section>
				<h2 class="section-title">Competences</h2>
				<div class="content">
					<p>
					    <ul>
					        <li>  Esprit d'analyse et de synthèse </li>
					        <li> Capacité à résoudre les problèmes </li>
					        <li> Adaptabilité et flexibilité </li>
					        <li> Gestion du temps efficacement </li>
					        <li> Curiosité et ouverture d'esprit </li>
					        <li> Persévérance  pour surmonter les défis </li>
					    </ul>
					</p>
				</div>
			</section>
			<section>
            	<h2 class="section-title">Licences et certifications</h2>
            	<div class="content">
            		<ul>
                    	  <li>
                    		 <h5><a href="https://urlzs.com/rZTYU">Microsoft Certified: Azure AI Fundamentals</a></h5>
                    	  </li>
                    	  <br/>
                    	  <li>
                             <h5><a href="https://vu.fr/fUsb">Microsoft Certified: Azure Data Fundamentals</a></h5>
                          </li>
                          <br/>
                          <li>
                             <h5><a href="https://vu.fr/mceB">Microsoft Certifié: Power Platform Fundamentals</a></h5>
                          </li>
                     </ul>
            	</div>
            </section>
		 </main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
