---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Programmation</h2>
		<p>
		 <ul>
                 <li>
                    Langages de programmation : Python, R, Java, C++, SQL
                 </li>
                 <li>
                    Environnements de développement : Jupyter Notebook, PyCharm, RStudio
                 </li>
                 <li>
                    Bibliothèques et frameworks : TensorFlow, Keras, Scikit-learn, Pandas, NumPy, Matplotlib, Seaborn, NLP
                 </li>

         </ul>
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>communication et en collaboration</h2>
        <p>
            <ul>
                    <li>Travail en équipe</li>
                    <li>Présentation de données</li>
                    <li>Documentation de projets</li>
            </ul>
        </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Data science</h2>
		<p>
            <ul>
                 <li>Mathématque et machine learning : probabilités, statistiques, algèbre linéaire,classification, régression, clustering, apprentissage profond, NLP.</li>
                 <li>Outils de visualisation de données : Tableau, Power BI.</li>
                 <li>Bases de données et outils d'extraction de données : MySQL, MongoDB,Oracle,Postgres SQL, Web Scraping.</li>
            </ul>
        </p>
	</div>
</section>
<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
